@font-face {
  font-family: "Intro";
  src: url('../font/Intro.otf') format('opentype');
}

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 900px;
}

.main
{
	background: url('../images/wallpaper2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 100px;
}

header
{
	margin: 50px 0;
	text-align: center;
}

.logo img
{
	height: 150px;
}

.resultathead
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 0;
	height: 50px;
	width: 100%;
	min-width: 1000px;
	background: url('../images/wallpaper2.jpg');
}

.resultathead > a
{
	position: absolute;
	text-decoration: none;
}

.resultathead > a > .logo
{
	width: 200px;
	height: 50px;
	margin-left: 50px;
}

.resultathead > a > .logo > img
{
	vertical-align: middle;
	height: 50px;
	margin-right: 10px;
}

.resultathead > a > .logo > h3
{
	display: inline-block;
	width: 80px;
	color: white;
	text-shadow: 0 0 50px white;
	font-family: Intro;
	height: 20px;
}

.resultathead .option
{
	float: right;
	color: white;
	height: 50px;
	font-weight: 300;
	margin-right: 50px;
	border-left: solid #ccc 1px;
	padding-left: 30px;
}
.resultathead .option img
{
	vertical-align: middle;
	margin-right: 5px;
}

.resultathead .option select
{
	margin: 0;
	border: solid white 1px;
	-webkit-appearance: none;
	padding: 3px;
	border-radius: 0;
	margin-top: 5px;
	opacity: 0.8;
}

h1
{
	color: white;
	margin: 10px;
	font-size: 80px;
	text-shadow: 0 0 50px white;
	font-family: Intro;
}

.searchsection
{
	text-align: center;
	font-size: 24px;
	margin: auto;
	margin-top: 10px;
	width: 60%;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 1px white;
}

form
{
	margin: 0;
}

#searchbar
{
	position: relative;
	outline: none;
	font-size: 14px;
	width: 400px;
	height: 50px;
	margin: 50px auto;
	padding: 10px;
	box-shadow: none;
	border: solid white 1px;
	background: rgba(255,255,255, 0.8);
}

.resultatsearch #searchbar
{
	margin: 0;
}

#searchbar:focus
{
	background: white;
}

#result
{
	visibility: hidden;
	float: left;
	position: absolute;
	top: 87px;
	left: 6px;
	display: block;
	text-align: left;
	padding: 0;
	background: rgba(255,255,255,0.9);
	outline: none;
	font-size: 14px;
	width: 479px;
	list-style: none;
	box-shadow: 0 0 1px black;
}
#result a
{
	display: block;
	text-decoration: none;
	color: black;
}
#result a h3
{
	color: #2854A1;
	font-weight: 400;
}

#result h5
{
	color: #5A9AB7;
}

h3, h5
{
	margin: 0;
}

.resulthead, .resultat .description
{
	margin: 10px;
}

.resultat p
{
	border-top: solid grey 1px;
	margin: 0;
	padding: 10px 0;
}

.indexsearch, .resultatsearch
{
	position: relative;
	margin: auto;
	width: 500px;
}

.resultatsearch #result
{
	left: 0;
	top: 37px;
	width: 476px;
}

.resultat
{
	padding: 5px;
	border-bottom: solid grey 1px;
	margin: 0;
}

.resultat:hover, a:focus
{
	background: #F7F2E0;
}

li
{
	display: list-item;
}

.searchsection button, .resultatsearch button
{
	position: relative;
	right: 8px;
	outline: none;
	font-size: 14px;
	height: 50px;
	width: 80px;
	padding: 0;
	background: #754F7E;
	color: white;
	border: solid white 1px;
	border-left: none;
	border-radius: 0 3px 3px 0;
}

.searchsection button:hover, .resultatsearch button:hover
{
	background: #8D6696;
	cursor: pointer;
}

.searchsection button:active, .resultatsearch button:active
{
	box-shadow: inset 0 5px 10px #583B5E;
	background: #754F7E;
}

.allresult
{
	margin: auto;
	margin-top: 150px;
	width: 900px;
}

.allresult > ul
{
	list-style: none;
	padding: 0;
}

.allresult > ul > li
{
	margin-bottom: 20px;
}

.allresult > ul > li > h3
{
	margin: 0;
	font-size: 20px;
	font-weight: 400;
}

.allresult h3 > a
{
	color: #2854A1;
	text-decoration: none;
}

.allresult h3 a:hover
{
	color: #754F7E;
	-webkit-transition: text-shadow 0.1s;
	-moz-transition: text-shadow 0.1s;
	-ms-transition: text-shadow 0.1s;
	-o-transition: text-shadow 0.1s;
	transition: text-shadow 0.1s;
}

.allresult .link a
{
	color: #5A9AB7;
	font-size: 14px;
}

.allresult > ul > li > .description
{
	color: black;
	font-size: 14px;
	font-weight: 300;
}

.page
{
	text-align: center;
	margin: 10px;
	padding: 10px;
}

.page a
{
	color: #2854A1;
	text-decoration: none;
}

.credit
{
	position: absolute;
	bottom: 0;
	width: 99%;
	margin: 0;
	text-align: center;
	margin-bottom: 20px;
}

.credit a
{
	color: white;
	font-weight: 300;
}